<div class="col-md-10 col-lg-6 offset-md-1 offset-lg-3 card card-block">
  <h2>Resend confirmation instructions</h2>
  <%= simple_form_for resource, :as => resource_name,
                                :url => confirmation_path(resource_name),
                                :html => {:method => :post} do |f| %>
    <%= f.input :email %>
    <%= f.button :submit, "Resend confirmation instructions", class: 'btn-primary' %>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
