<div class="col-md-10 col-lg-6 offset-md-1 offset-lg-3 jumbotron">
  <div class="text-center">
    <h2>Welcome Coffee Tracker</h2>
    <%= link_to "Create an account", new_account_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
