<div class="col-md-10 col-lg-6 offset-md-1 offset-lg-3 card card-block">
  <h2>Sign up for Coffee Tracker</h2>
  <%= simple_form_for @account do |f| %>
      <%= f.input :subdomain do %>
        <div class="input-group">
          <%= f.input_field :subdomain, placeholder: 'dublin', class: "form-control" %>
          <span class="input-group-addon">.coffeetracker.io</span>
        </div>
      <% end %>
    <%= f.button :submit, class:"btn-primary" %>
  <% end %>
</div>
